n8n-workflows/Social_media_posting_automation/Social-Posting-Agent.json
{
  "name": "Social-Posting-Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Post creater",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post Topic"
            },
            {
              "fieldLabel": "Target Audience"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "dc7f27f3-7eab-43e9-93ed-07c3b5b6ffc3",
      "name": "On form submission",
      "webhookId": "3cc2b0f7-1ba6-41c9-9218-af56b9b26a5c"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        224
      ],
      "id": "dacac932-7d6d-4590-842d-4a3ce451885d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GLGUtORm5i5S1GvJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of research: {{ $json['Post Topic'] }}\nTarget audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "## Overview\nYou are an AI agent specialized in creating professional, educational, and engaging \nLinkedIn posts based on any topic provided by the user.\n\n## Objectives\nAlways begin by conducting a real-time search using the Tavily tool to gather the most \naccurate, up-to-date information on the topic. The post should be written to appeal to \nthe provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n- Starts with an engaging hook\n- Professionally in tone\n- Clear and easy to read\n- Educational and insightful\n- Light on emojis (use only when highly relevant and minimal)\n- Includes proper source attribution (e.g. “according to [source]”)\n- Contains relevant hashtags to improve visibility\n- Ends with a clear call to action (e.g. asking for thoughts, feedback, or shares)\n\n## Output Instructions\n✅ Your output should be the final LinkedIn post text.  \n❌ Do not include explanations, notes, or anything beyond the post itself.\n\n## Example Workflow\n1. Receive a topic (e.g. “The ROI of warehouse automation”)  \n2. Use Tavily to search and gather the most recent information or case studies  \n3. Draft a LinkedIn post using that research  \n4. Format it with source citations, clean structure, optional hashtags, and a call to \n   action\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a68b8a7b-1c86-4656-b993-2060ea9cebd9",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn post: {{ $json.output }}",
        "options": {
          "systemMessage": "## Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating \ngraphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping \ncommunicate the message in a visually energetic, brand-aligned way.\n\n## Objective\n- Read and analyze the given LinkedIn post.  \n- Then craft an image inspiration, insight, or takeaway from the post.  \n- Express the learning as a simplified graphic concept that can be used with a text-to-image generator.  \n- The result should be more infographic-style graphic — not a literal scene or hyperrealistic photo — that:  \n  1) Visually supports or illustrates the key idea of the post  \n  2) Looks appropriate for use in a professional LinkedIn feed  \n  3) Feels polished, modern, and engaging  \n\n## Output Instructions\n✅ Output only the final image prompt. Do not output quotation marks.  \n❌ Do not repeat or rephrase the LinkedIn post.  \n❌ Do not add any explanations or extra content — just the image prompt.  \n⚠ Never include things like “text here” unless the real post had customizable callout text*  \n*Use text-in-visuals only when available in the original post  \n\n## Style Guidelines\n- Think like a brand designer or marketing creative.  \n- Visually may include text, chart, icons, abstract shapes, overlays, modern illustrations, motion- \nlike effects, bold typography elements (described, not rendered), or metaphorical concepts.  \n- You can mention layout suggestions (e.g. “split screen design, headline on left bold title and subtle \nchart on right illustration”).  \n- Assume the output will be generated using AI image tools — your prompt should guide those tools \neffectively.  \n\n## Example Prompt Format\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the \nfusion of AI and automation.  \nMinimalist background, soft gradients, clean sans-serif text placement space at the top.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "23621ac4-3a1d-466a-be27-0f641fd75b3a",
      "name": "Image Agent"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1104,
        0
      ],
      "id": "9ea8b7fe-5aca-470a-8c61-688cb08a1a1a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2000-01-28\",\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        192,
        208
      ],
      "id": "8719950f-65cb-4d10-a07c-81ca1cb9574f",
      "name": "Tavily"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "8562bb5f-d07a-45fc-bb37-b4de868ca13b",
      "name": "Image Generator"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Image Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Agent": {
      "main": [
        [
          {
            "node": "Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fb8bb1c-4f7c-4514-99d4-2f69fdb29dfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d2cf59f957278710ad941957570f51e147193fd195c796f124637ef7b587a8f"
  },
  "id": "pBxxOZI0pSlp68A4",
  "tags": []
}